body{
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
}


form {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:50vh;
    width:50vw;
    background-color: bisque;
    text-align: center;
    border:1px solid grey;
 

}
div {
    margin-top: 20%;
   
}
#age{
    padding:5px;
    border:2px solid black;
}